<!DOCTYPE html>
<html> 

	<head>
		<meta charset="UTF-8">
        <meta title = "House Price Prediction">
		<link rel="stylesheet"  href= "{{ url_for('static', filename='css/style.css') }}" >
	</head>
		
	<body>
		<h1>A demo page</h1>
		
		<form action="" method="post"> 
			
			<div>
				Select your model for prediction: 
				<input type="radio" name="select_model" /> RandomForest Regressor
				<input type="radio" name="select_model" /> XGB Regressor
			<div>
		
		
			
		</form>
	
	</body>



</html>

 